<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supming.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <activity android:name=".login_garten.DashBoard" />
        <activity android:name=".login_garten.ForgotPassword" />
        <activity android:name=".login_garten.Loginactivity" />
        <activity android:name=".Splsh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GartenActivity"></activity>
        <activity android:name=".EventActivity" />
        <activity android:name=".SigninActivity" />


    </application>

</manifest>